* {
    font-size: 20px;
    margin: 0;
}

#container-1 {
    height: 15vh;
}

#container-2 {
    display: grid;
    place-items: center;
    height: 70vh;   
}

#block {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}