#canvas {
	width: 1000px;
	height: 750px;
	background-color: black;
}

#text {
	position: relative;
	color: white;
	font-size: 50px;
	text-align: center;
	top: 200px;
}

#land {
	position: relative;
	width: 1000px;
	height: 100px;
	background-color: lightgreen;
	top: 600px;
}

#player {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: gray;
	top: 600px;
	left: 150px;
}
.animate {
	animation: jump 500ms;
}
@keyframes jump {
	0% {
		top: 600px;
	}
	50% {
		top: 500px;
	}
	100% {
		top: 600px;
	}
}

#cactoose1 {
	width: 20px;
	height: 30px;
	position: relative;
	left: 1000px;
	top: 470px;
	background-color: green;
	animation: cactoose1 1s infinite linear;
}
@keyframes cactoose1 {
	0% {
		left: 1000px;
	}
	100% {
		left: 0px;
	}
}

#cactoose2 {
	width: 30px;
	height: 50px;
	background-color: green;
	animation: block 1s infinite linear;
}
