* {
    margin: 0;
    font-family: SF-reg;
}

:root {
    --menuHeight: ;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 3.25rem;
}

p,a {
    font-size: 1.7rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

#menu {
    position: fixed; 
    height: 5vh;
    margin-top: -5vh;
    width: 100%;
    background-color: white;
    opacity: 0.95;
    
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    z-index: 5;
}

#menu > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 100;
    font-family: SF-reg;
    height: 100%;
}

#featured {
    margin-top: 5vh;
    position: relative; /* Needed so absolute children (like img) are positioned inside */
    display: flex;
    justify-content: center;
    overflow: hidden; /* optional: hides any image overflow */
    background-color: #fff2fe;
    height: 75vh;
}

#featureddescription {
    z-index: 2;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    height: 37.5%;
    gap: 5px;
}

@font-face {
    font-family: SF-reg;
    src: url(SF-Pro-Display-Regular.otf);
}


#featuredbuttons {
    display: flex; 
    justify-content: center; 
    gap: 10px;
    width: 100%;
    height: 20%;
    margin-top: 2.5%;
}

.rainbow1 {
    background: linear-gradient(90deg, fuchsia, red, orange);
    color: transparent;
    background-clip: text;
}

/* 
#featuredbackground {
    width: 100%;
    height: 75vh;
    z-index: 1;
    background-image: url(../pictures/main-site-images/cherryblossoms.webp);
    opacity: 0.1;
} */

#demo {
    position: absolute;
    height: 60%;
    bottom: 0;
    display: flex;
}

.othercontainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
    margin-top: 10px;
    overflow: hidden;
}
.othercontainer > * {
    display: flex;
    width: calc(50% - 15px);
    height: 100%;
    background-color:#f8f8f8;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer
}

.applebutton {
    width: 17.5%;
    height: 10%;
    background-color: #0077ed;
    border-radius: 100px;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin-top: 2.5%;
    cursor: pointer
}

.applebutton:active {
    background-color: #0062c4;
}


.menucontent {
    width: 100%;
    position: absolute;
    padding: 4% 30% 4% 30%;
    box-sizing: border-box;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.menucontent > * {
    opacity: 0;
    max-width: fit-content;
}

@keyframes slidein {
    from {top: var(--menuHeight);}
    to {top: 0;}
}

@keyframes slideout {
    from {}
    to {top: var(--menuHeight);}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
