* {
    margin: 0;
    color: white;
    font-family: "Gaegu", sans-serif;
    font-weight: 600;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: turquoise;
}

#links {
    display: flex;
    flex-direction: column;
}

#links > *:hover {
    color: white;
}