* {
    margin: 0;
    font-family: 'Raleway',sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 1.35rem;
}
sub {
    font-weight: 400;
}
p {
    font-size: 0.9rem;
}
a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
}
body {
    display: flex;
    justify-content: center;
}

#main-container {
   display: flex;
   flex-direction: row; 
   gap: 3vw;
   width: 1250px;
   background-color: #f5f5f5;
   justify-content: center;
}

#other-stuff {
    display: flex;
    height: 100vh;
    width: 25%;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    top:0;
    position: sticky;
}


#about-me {
    min-width: 100%;
    min-height: 400px;
    max-width: 100%;
    max-height: 400px;
    background-color: white;
    border-radius: 10px;

}

#profile-banner {
    min-height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    background-image: url("./pictures/main-site-images/IMG_5007.jpg");
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#main-projects {
    width: 55%;
}
#main-projects::-webkit-scrollbar {
    display: none;
}
#main-projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#pictureframe {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circlebutton {
    border-radius: 50%;
    background-color: lightgray;
    border: none;
    height: 40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textgrouper {
    display: flex;
    flex-direction: column;
}

.language-icon {
    width: 125px;
    height: 125px;
}
.project-section {
    padding: 25px;
    border-radius: 10px;
    justify-self: center;
    width: 95%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.important {
    color: red
}
.language {
    background-color: lightblue;
    width: fit-content;
    padding: 5px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
}
.platform {
    background-color: #ffda75;
    width: fit-content;
    padding: 5px;
    border: 2px solid #e8be4a;
    border-radius: 10px;
}