* {
    margin: 0
}


#events {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.event {
    min-width: 20vw;
    max-width: fit-content;
    height: 10vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

#bank::before {
    content: "$";
}