* {
    margin: 0;
} /*just trust me, you need it*/

body {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justifycenter {
    justify-content: center;
}

.aligncenter {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.nodecor {
    text-decoration: none;
}

.nowidth {
    width: 0%;
}

.noheight {
    height: 0%;
}

.halfwidth {
    width: 50%;
}

.halfheight {
    height: 50%;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.hover {
    transition: 0.1s;
}
.hover:hover {
    filter: brightness(85%);
}
.unusable {
    color: gray;
    background-color: lightgray;
    border: none;
    cursor: auto;
    user-select: none;
}
.unusable:hover {
    filter: brightness(100%);
}