* {
    margin: 0;
    overflow: hidden;
}

#background {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#ball {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}