* {
    margin: 0;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: black;
}

p {
    display: inline;
}

article {
    width: 10vw;
    padding: 1vh;
    border: 1px black solid;
    margin-top: 1vh;
    text-align: center;
}

main {
    width: 75vw;
    height: 70vh;
    margin-top: 30vh;
}

#container {
    display: flex;
    flex-direction: row;
}

#menublock {
    width: 100px;
    height: 100px;
    background-color: lightslategray;
    transition: 0.3s;
}

#menublock:hover {
    background-color: lime;
}

#menuwall {
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#companyPrice, #bank {color: green;}
#companyPrice::before {content: "$";}
#bank::before {content: "$";}
#inv {color: maroon;}
#amountfield, #amountfield2, #amountfield3, #amountfield4, #amountfield5, #amountfield6 {width: 7vw;}

.newsrow {
    display: flex;
    justify-content: space-around;
    grid: auto auto auto;
    margin-bottom: 5vh;
}