p {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

body {
    height: 400px;
}

#background {
    background-color:#d3d3d3;
    position: relative;
    width: 500px;
    height: 300px;
    left: 700px;
    top: -100px;
}

#boughtStocks {
    color:maroon;
    position: relative;
    left: 300px;
    top: -270px;
}

#bank {
    color:green;
    position: relative;
    left: 300px;
    top: -270px;
    width: 100px;
}