* {
    margin: 0;
    height: 100vh;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

#text {
    margin-top: -10vh;
}

#block {
    display: flex;
    position: relative;
    width: 5vw;
    height: 10vh;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
}

#block:hover {
    background-color: lime;
}

#wall {
    margin-top: -10vh;
    background-color: gray;
    width: 0vh;
    height: 10vh;
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes expand {
    0% {width: 0vw; height: 10vh;}
    50% {height: 10vh; width: 100vw; }
    100% {height: 100vh; width: 100vw;}
}

@keyframes condense {
    0% {height: 100vh; width: 100vw;}
    50% {height: 10vh; width: 100vw; }
    100% {height: 10vh; width: 0vw;}
}