#productcontainer > *, #inventory > * {
    flex-wrap: wrap;
    gap: 1vh;
    padding: 1vh;
}

#productcontainer, #inventory {
    gap: 5vh;
    margin-bottom: 5vh;
}

#pagination {
    display: flex;

}