* {
    font-family: "Poppins", sans-serif;
    margin: 0
}
body {
    background-color: #b9e9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.container {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#loading-screen, #chat-screen {
    display: none;
}

#loading-screen {
    z-index: 1;
}

#chat-screen {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#chat-container, #client-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    border: 2px dashed #27592D;
    background-color: #e4fae4;
    padding: 5px;
}
#chat-container {
    width: 600px;
    border-right: none;
}
#chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    padding: 5px;
}
#client-container {
    width: 175px;
    display: flex;
    flex-direction: column;
}
#all-clients {
    height: 75%;
}
#message {
    width: 60%;
}
.special-text {
    color: darkgreen;
    font-weight: bold;
}

@keyframes fade {
    from {
        opacity: 1;
        display: flex;
    }
    to {
        opacity: 0;
        display: none;
    }
}