* {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
}

#screen {
    width: 30vw;
    height: 100vh;
    background-color: gray;
}

/*background stuff*/
#river {
    width: 30%;
    height: 7.5%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bridges {
    display: flex;
    height: 100vh;
    gap: 50%;
    align-items: center;
    justify-content: center;
}

#bridge1, #bridge2 {
    position: relative; /*lays it over the river*/
    height: 10%;
    width: 7.5%;
    background-color: saddlebrown;
}

#players {
    position: absolute;
    top: 0;
    left: 0;
}

#ptower1, #ptower2, #ptower3, #ptower4 {
    border: 5px solid black;
    background-color: darkgray;
    width: 7.5vh;
    height: 7.5vh;
}

#ptower3, #ptower4 {
    margin-top: 15vh;
}

#ptower1, #ptower2 {
    margin-bottom: 15vh;
}

#ktower1, #ktower2 {
    border: 5px solid gold;
    background-color: darkgray;
    width: 7.5vh;
    height: 7.5vh;
}

#comside {
    display: flex;
    gap: 5%;
    justify-content: center;
    width: 100vw;
}

#playerside {
    display: flex;
    height: 74.55vh;
    align-items: flex-end;
    gap: 5%;
    justify-content: center;
}

#hotbar {
    width: 30%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: darkgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 20%;
    height: 80%;
    border: 5px solid black;    
    border-radius: 10px;
}

.troop {
    position: absolute;
    top: 0%;
    border: 5px solid black;
    border-radius: 20px;
}

.gianttroop {
    position: absolute;
    top: 0%;
    border: 5px solid black;
    border-radius: 30px;
}