* {
    font-size: 50px;
}

#container {
    width: 510px;
    position: relative;
    top: 300px;
    left: 710px;
}

#field {
    width: 300px;
    height: 70px;
}

#submit {
    position: relative;
    top: -7px;
    left: 20px;
}