* {
	margin: 0;
	position: absolute;
	font-family: "Poppins", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#block {
	width: 50px;
	height: 50px;
	top: 50px;
	left: 50px;
	background-color: blue;
}

article {
	background-color: black;
	box-sizing: border-box;
}

#movable {
	background-color: saddlebrown;
	width: 50px;
	height: 50px;
	left: 250px;
	top: 100px;
}

#wall1 {
	width: 600px;
	height: 50px;
}
#wall2 {
	width: 50px;
	height: 100px;
	top: 50px;
}
#wall3 {
	width: 450px;
	height: 200px;
	top: 150px;
}
#wall4 {
	width: 50px;
	height: 500px;
	left: 500px;
}
#wall5 {
	width: 50px;
	height: 200px;
	top: 350px;
}
#wall6 {
	width: 450px;
	height: 50px;
	top: 550px;
}
#wall7 {
	width: 350px;
	height: 100px;
	top: 400px;
	left: 100px;
}
#wall8 {
	width: 250px;
	height: 50px;
	top: 600px;
	left: 400px;
}
#wall9 {
	height: 600px;
	width: 50px;
	left: 600px;
}

#wall10 {
	width: 650px;
	height: 50px;
}
#wall11 {
	width: 50px;
	height: 550px;
}
#wall12 {
	width: 50px;
	height: 550px;
	left: 650px;
}
#wall13 {
	width: 100px;
	height: 50px;
	top: 250px;
}
#wall14 {
	width: 50px;
	height: 100px;
	top: 250px;
	left: 100px;
}
#wall15 {
	width: 100px;
	height: 50px;
	top: 350px;
	left: 100px;
}
#wall16 {
	width: 50px;
	height: 50px;
	top: 350px;
	left: 150px;
}
#wall17 {
	width: 50px;
	height: 300px;
	top: 150px;
	left: 200px;
}
#wall18 {
	width: 300px;
	height: 50px;
	left: 350px;
	top: 150px;
}
#wall19 {
	width: 300px;
	height: 50px;
	left: 250px;
	top: 300px;
}
#wall20 {
	width: 300px;
	height: 50px;
	left: 250px;
	top: 300px;
}
#wall21 {
	width: 50px;
	height: 100px;
	top: 500px;
	left: 50px;
}
#wall22 {
	width: 200px;
	height: 50px;
	left: 100px;
	top: 550px;
}
#wall23 {
	width: 400px;
	height: 50px;
	top: 500px;
	left: 250px;
}

#wall24 {
	height: 50px;
	width: 700px;
}
#wall25 {
	height: 300px;
	width: 50px;
	left: 700px;
}
#wall26 {
	height: 700px;
	width: 50px;
}
#wall27 {
	width: 600px;
	height: 50px;
	top: 150px;
}
#wall28 {
	width: 600px;
	height: 50px;
	left: 150px;
	top: 300px;
}
#wall29 {
	left: 150px;
	height: 300px;
	width: 50px;
	top: 300px;
}
#wall30 {
	width: 350px;
	height: 50px;
	top: 700px;
}
.two {
	width: 150px;
	height: 50px;
}
#wall31 {
	top: 500px;
	left: 200px;
}
#wall32 {
	top: 450px;
	left: 350px;
}
#wall33 {
	top: 400px;
	left: 500px;
}
#wall34 {
	top: 350px;
	left: 650px;
}
#wall35 {
	top: 300px;
	left: 800px;
}
#wall36 {
	top: 250px;
	left: 950px;
}
#wall37 {
	top: 200px;
	left: 1100px;
}
#wall38 {
	width: 50px;
	height: 400px;
	left: 1200px;
	top: 200px;
}
#wall39 {
	top: 600px;
	left: 1100px;
}
#wall40 {
	top: 650px;
	left: 950px;
}
#wall41 {
	top: 700px;
	left: 800px;
}
#wall42 {
	top: 750px;
	left: 650px;
}
#wall43 {
	top: 800px;
	left: 500px;
}
#wall44 {
	top: 850px;
	left: 350px;
}
#wall45 {
	top: 850px;
	left: 350px;
}
#wall46 {
	top: 650px;
	left: 350px;
}
#wall47 {
	top: 600px;
	left: 500px;
}
#wall48 {
	top: 550px;
	left: 650px;
}
#wall49 {
	top: 500px;
	left: 800px;
}
#wall50 {
	top: 450px;
	left: 950px;
}
#wall51 {
	width: 50px;
	height: 150px;
	top: 750px;
	left: 300px;
}

#other {
	display: flex;
	bottom: 0;
}

#endzone {
	background-color: green;
	width: 50px;
	height: 50px;
	left: 550px;
	top: 50px;
}

#level {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: lightslategray;
	opacity: 0;
	animation-duration: 2s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

@keyframes slide {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#missile {
	font-size: 1.5rem;
	width: 150px;
	height: 150px;
	opacity: 0.7;
	background-color: orange;
	justify-content: center;
	align-items: center;
}

#startscreen {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2.5vh;
	font-size: 3rem;
	flex-wrap: wrap;
}
