* {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}

i {
	font-size: 7.5rem;
}

.logos {
	display: flex;
	justify-content: center;
	gap: 5vw;
}

.button:hover {
	background-color: limegreen;
	color: black;
}

.icon {
	display: flex;
	flex-direction: column;
	text-align: center;
}

@media only screen and (max-width: 680px) {
	.logos {
		flex-direction: column;
	}

	#penguin {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
}
