* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    background-color: lightgray;
    width: fit-content;
    padding: 1vh;
}

#equation {
    font-size: 3rem;
}

#answer, #result {
    display: none;
    color: maroon;
}
#time::after {
    content: " seconds left";
}

#play {
    font-size: 2rem;
}