* {
	margin: 0;
	position: absolute;
	font-family: "Poppins", sans-serif;
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.trail {
	width: 1vw;
	height: 1vw;
	border-radius: 1vw;
	background-color: black;
}
