* {
    margin: 0;
}

#wall {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    font-size: 2rem;
    color: transparent;
    width: 0vw;
    animation-duration: 4.5s;
    animation-name: slide;
}

@keyframes slide {
    0% {width: 0vw; height: 100vh;}
    35% {width: 100vw; height: 100vh; color: black;}
    65% {width: 100vw; height: 100vh; color: black;}
    100% {width: 0vw; height: 100vh; color: transparent;}
}