* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
h1,h2,h4 {
    font-weight: 400;
}

body {
    justify-content: center;
    display: flex;
    overflow-x: hidden;
}
#main-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 100vh;
}

.block {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#birthday-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 25px;
}
#birthdaysElem {
    display: flex;
    gap: 25px;
}
/* 
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-gutter: stable;
}

#container {
    width: 60vw;
    min-height: 100vh;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    position: absolute;
}

.row, .otherrow {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    height: 25vh;
    width: 100%;
}

.item {
    width: 15%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
}

#birthdaypeople {
    margin-top: 25vh;
    height: 70vh;
    width: 100%;
    display: none;
}

@media screen and (max-width: 1580px) {
    .item {
        width: 20%;
        height: 100%;
    }
}

@media screen and (max-width: 1230px) {
    #container {
        width: 70vw;
    }
    
    #credits {
        display: none;
    }
}

@media screen and (max-width: 970px) {
    #container {
        width: 90vw;
    }
    
    .row, .otherrow {
       height: 20vh;
    }
}

@media screen and (max-width: 600px) {
    #container {
        width: 100vw;
    }
    
    .row, .otherrow {
       height: 15vh;
    }
} */


@media screen and (max-width: 835px) {
    #main-container {
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 5px;
    }
}

@media screen and (max-width: 630px) {
    .block {
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width: 470px) {
    .block {
        height: 100px;
        width: 100px;
    }
}