* {
    margin: 0;
    font-size: 1.75rem;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

#background {
    background-color: lightgray;
    height: 35vh;
    width: 25vw;
}

.other {
    height: 20vh;
}