* {
	margin: 0;
	color: white;
	overflow: hidden;
	font-size: 1.25rem;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: black;
}

#background {
	height: 4vh;
	display: flex;
	justify-content: space-around;
}

#game {
	border: 0.25vh dashed blue;
	height: 92vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#racket,
#racket2 {
	background-color: white;
	width: 0.5vw;
	height: 10vh;
}

#ball {
	background-color: white;
	width: 0.5vw;
	height: 0.5vw;
	border-radius: 0.5vw;
}
