* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    border: 0.75vh solid black;
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tile {
    width: 12%;
    height: 12%;
    background-color: lightgray;
}